:root {
  --default-font: #151515;
  --dark-font: #fafafa;
  --default-bg: #E6E6E6;
  --dark-bg: #1a1a1a;
  --default-link: #0489B1;
  --active-link: #8cd5ff;
/*  --dark-link: #8cd5ff; */
  --header-bg: #000000;
  --header-accent: #555761;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 100%;
  color: var(--default-font);
  background-color: var(--default-bg);
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  font-size: 2em;
}

p {
  font-size: 2em;
}

a {
  color: var(--default-link);
}

a:active {
  color: var(--active-link);
}

article {
  display: block;
  width: 70vw;
  margin: auto;
}

footer {
  margin: 2em;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--dark-font);
    background-color: var(--dark-bg);
  }

  .active {
    color: var(--dark-font);
    background-color: var(--dark-bg);
  }

  a {
    color: var(--active-link);
  }

  a:active {
    color: var(--default-link);
  }
}
