:root {
  --default-font: #fafafa;
  --default-bg: #273445;
  --header-bg: #0e141f;
  --header-accent: #555761;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: var(--default-font);
  background-color: var(--default-bg);
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2em;
}

.navbar {
  display: flex;
  top: 0;
  position: fixed;
  width: 100vw;
  background-color: var(--header-bg);
}

.navlink {
  display: block;
  text-decoration: none;
  color: var(--default-font);
  padding: 1em;
}

.navlink:hover {
  background-color: var(--header-accent);
}

.active {
  background-color: var(--default-bg);
}

#main {
  padding-top: 4em;
}

#landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}

#summary {
  display: flex;
  justify-content: center;
}

#summary p {
  padding: 0.5em 2em;
  font-weight: bold;
  display: block;
}

#about {
  display: block;
  width: 70vw;
  margin: auto;
  text-align: left;
}

footer {
  display: block;
  height: 3em;
  width: 100%;
  padding-top: 4em;
  margin: auto;
}
