/* Color and Font Style */

body {
  font-family: sans-serif;
  font-size: 12pt;
  color: #151515;
  background-color: #E6E6E6;
}

header {
  font-size: 16pt;
}

footer {
  font-size: 16pt;
}

a {
  color: #0489B1;
}

a:active {
  color: #8CD5FF;
}

/* Layout */

header, article, footer {
  margin: 1em;
  width: 95vw;
}

/* Dark mode support */

@media (prefers-color-scheme: dark) {
  body {
    color: #FAFAFA;
    background-color: #1A1A1A;
  }
}
